<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login Successful</title>
</head>
<body>
    <h1 style="text-align: center;">Hey! Logged in Successfully</h1>
    <a href="/specializations"><button>Add Specializations</button></a> <br>
    <a href="/doctor_details"><button>Add Doctor Details</button></a> <br>
    <!-- <a href="/admin/add_doctor_details"><button>Add Doctor Details</button></a> <br> -->
    <form action ="/display" method="post">
        <input type="submit" value="display"/><br/>
    </form>
    <a href="/admin_logout"><button>Logout</button></a>

</body>
</html>