<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Heyyaaaaa!!!</h1>
    <form action="/um" method="POST" id="login-form">
        
    {% for i in data: %}
    <h4>
        <input type="checkbox" name="myval" value="{{i[0]}}">{{i[1]}}
    </h4>
    {% endfor %}
    <input type="submit" value="Submit">
    <!-- <a href="/#"></a> -->
    </form>
</body>
</html>