<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

<form action="/book_2" method="POST">
<!-- <ul class="list-unstyled components"> -->
    List of specializations to book appointment
    <input type="radio" name="spl" id="" value="Cardiology">Cardiology
    <input type="radio" name="spl" id="" value="General">General
    <input type="submit" value="Submit" id="">
<!-- </ul> -->

</form>
</body>
</html>