<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display doctor details</title>
</head>
<body>
    <!-- <table border="1" cellpadding="5" cellspacing="5">
        {% for row in data %}
            <tr>
            {% for d in row %}
                <td>{{ d }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table> -->
    <table border='1' style="border:border-collapse">
        <th>DoctorID</th>
        <th>Full Name</th>
        <th>Qualification</th>
        <th>Specialization</th>
        <th>Email ID</th>
        <th>Contact Number</th>
        <th>Consultancy Fee</th>
        <th>Password</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        
    {% for i in data : %}

        <tr>
            {% for j in i : %}
                <td>{{j}}</td>
            {% endfor %}
        </tr>

    {% endfor %}
    </table>
</body>
</html>